body{
  font-family: "Open Sans";
}

.a-enter-vr-button {
  background: url("assets/cardboard.svg") no-repeat center !important;
  background-size: 75% !important;
  outline: none !important;

  &:active,
  &:hover {
    background-color: transparent !important;
  }
}

dialog {
  width: 20em;
  background: white;
  border: none;
  display: none;
  img, label {
    display: block;
  }
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

dialog[open] {
  display: block;
}
